# Telegram
BOT_TOKEN=tu_bot_token
ADMIN_USER_ID=tu_user_id

# Azure AD (Microsoft Graph / OneDrive)
AZURE_CLIENT_ID=tu_client_id
AZURE_TENANT_ID=consumers

# Microsoft Graph - Refresh Token (produccion, obtener con: npx ts-node scripts/get-refresh-token.ts)
GRAPH_REFRESH_TOKEN=

# OneDrive
ONEDRIVE_DEFAULT_FOLDER=Documentos

# Notificaciones
NOTIFICATION_INTERVAL_HOURS=12
NOTIFICATION_DAYS_LIMIT=5


M.C524_SN1.0.U.-CjanOZmH5J7G6B5StgOU5d4ZeLinvh8n0fk6zodM5hg5GsNo!z*C0vyNJ!HdSGc1*vWWrC*J1ig*847uSrmAxaQt8dsLGdvKGUVP5mWZsf3NsBXkundlwvbUt2OSZeUavGPvtA*ElOzOlhKZz63qiKu0hVzF2mLcD0jvbdD4VpkN9wq1ZuJjuGe5G60Y!tHFiWwQwUcoWb9ZFdVuft644w3peiGbkJgyQw3jdjgBCKoykyIKg1WuxpI1wGQUJPWnK*RQ9HaiN2*LdrrgEWaymrv3sj0JmJTLFIxIqUExKa5oAChAVcBhna3n7TxXysOrJC20HxjI83ht4JR9SIRWxj7!47XzUWgZ*adKBkbRiy*7 